
@{
    ViewBag.Title = "Creates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Account.Models.Paper paper = ViewBag.pa;

}
@using Account.Models
@model List<Selects>

<h2>添加考题</h2>
<p>
    <a href="/Topics/PaperIndex?ids=@paper.PaperID" class="btn  btn-primary">添加题目</a>
</p>
<div>
    <fieldset>
        <legend style="color:white">试卷信息</legend>
        <dl class="dl-horizontal">
            <dt> 试卷名</dt>
            <dd>@paper.PaperNmae</dd>
            <dt> 试卷说明</dt>
            <dd> @paper.PaperExplain</dd>
            <dt> 试卷时长</dt>
            <dd> @paper.PaperTime 分钟</dd>
            <dt>  试卷总分</dt>
            <dd> @TempData["Score"]</dd>
        </dl>
    </fieldset>

    <fieldset>
        <legend style="color:white">试卷内容</legend>
        <ul style="list-style:inside;">
            @foreach (var item in Model)
            {
                if (item.PaperID==paper.PaperID)
                {
                    <li style="padding:20px;">
                        <span style="font-weight:bold">@item.Topic.TopicExplain</span>(@item.Topic.TopicScore 分)
                        <a href="/Topics/Deletes/@item.SelectID" onclick="return confirm('你确定要删除这一栏么？')">删除考题</a>-
                        <a href="/Topics/Edit/@item.Topic.TopicID">修改考题</a>
                        <ul style="padding-left:30px;">
                            @if (item.Topic.TopicType == 1)
                            {
                                <li>A.@item.Topic.TopicA</li>
                                <li>B.@item.Topic.TopicB</li>
                                <li>C.@item.Topic.TopicC</li>
                                <li>D.@item.Topic.TopicD</li>

                            }
                            else if (item.Topic.TopicType == 2)
                            {
                                <li>该题为判断题</li>
                            }
                            else if (item.Topic.TopicType == 3)
                            {
                                <li>该题为问答题</li>
                            }
                            <li>答案.@item.Topic.TopicAnswer</li>
                        </ul>
                    </li>

                }


            }

        </ul>
    </fieldset>

</div>
<p>
    <a href="/Paper/Edit/@paper.PaperID" class="btn btn-primary">修改试卷信息</a> |
    <a href="/Paper/Index" class="btn btn-warning">返回试卷列表</a>
</p>